* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 1200px / 2);
    padding-right: calc(50% - 1200px / 2);
}

.top {
    height: 1024px;
    background-image: url(img/bgc-top.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top__title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    width: 788px;
    padding-top: 217px;
}

.top__text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    width: 481px;
    margin-top: 32px;
}

.top__text--bold {
    font-weight: 700;
}

.top__btn {
    width: 234px;
    height: 48px;
    background: #9C0332;
    border-radius: 30px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 44px;
}

.product {
    background: #000915;
    display: flex;
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;
}

.product__box {
    position: relative;
}

.product__text {
    position: absolute;
    left: 32px;
    bottom: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

